.yellow-wrapper {
    padding: 50px 0;
    background-color: #fed500;

    &__content {
        max-width: 1248px;
        margin: 0 auto;
    }

    &__title {
        font-size: 20px;
        font-weight: bold;
        margin: 0 0 0 10px;
    }
    &__subtitle {
        font-size: 14px;
        margin: 0 0 0 10px;
    }
}

.overview {
    max-width: 1248px;
    margin: 0 auto;
}